// main.css
html {
	position: absolute;
	min-height: 100% !important;
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	color: #050505;
	font-family: Futura;
	background-color: #fff;
	height: 100%;
	min-height: 100% !important;
	min-width: 100% !important;
	margin: 0;
	padding: 0;
}

.navbar-nav {
	background: transparent;
	margin-top: 10px;
	width: 100%;
	text-align: center;
	position: fixed;
}

.navbar-nav ul {
	display: flex;
	justify-content: space-around;
}

.navbar-nav li {
	float: none;
	font-size: 17px;
	list-style-type: none;
}

.logo {
	position: absolute;
	width: 100%;
	top: 33% !important;
	letter-spacing: -4px;
	font-size: 40pt;
	font-weight: 900;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.social-icons {
	left: 50%;
	bottom: 30px;
	font-size: 15pt;
	letter-spacing: 0px;
}

a:hover {
	text-decoration: none !important;
}