---
---

/* variables */
$primary-color: #eb55a7;
$background-color: #000;


/* CSS transitions */
a, li {
	/* Unfortunately, it doesn't seem posible to do exclude background-position from all, so just don't use any sprites */
	transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
	-webkit-transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
}

img {
	-webkit-transition: all .3s cubic-bezier(0.64,0.20,0.02,0.35);
	transition: all .3s cubic-bezier(0.64,0.20,0.02,0.35);
	-webkit-transition: all .4s cubic-bezier(0.64,0.20,0.02,0.35);
}

input, textarea, button, label, option, select, .button, .hndle {
	transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
	-webkit-transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
}
/* End Transitions */


html {
	font-size: 19px;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
   	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 1.0rem;
	line-height: 1.6rem;
	position: relative;
	background: $background-color;
	color: #fff;
	font-family: Helvetica, arial, sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 1.5rem;
	margin-top: 3rem;
}

/* .navbar-nav {
	background: transparent;
	margin-top: 10px;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 999;
} */

/* .navbar-nav ul {
	display: flex;
	justify-content: space-around;
} */
 ul {
 	margin-left: 0;
 	padding-left: 0;
 }

 .row {
 	 -webkit-transition: background .2s ease !important;
 	 transition: background .2s ease !important;
 }

.navbar-nav {
	
	margin-top: 20px;
	margin-bottom: 15px;
}

.navbar-nav li {
	/* float: none; */
	font-size: 20px;
	font-weight: 600 !important;
	list-style-type: none;
}

.navbar-nav li a {
	color: #000;
	font-weight: 600 !important;
	padding-bottom: 0;
	margin-left: 30px;
	margin-right: 30px;
}

.navbar-nav li a:first-child {
	margin-left: 0;
} 

.logo {
	margin-top: 25% !important;
	letter-spacing: -3px;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}

.logo a {
	font-weight: 700;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*.social-icons {
	left: 50%;
	bottom: 30px;
	font-size: 15pt;
	letter-spacing: 0px;
} */

.active {
	border-bottom: 3px solid #050505;
}

.page {
	height: 100%;
}

a {
	color: $primary-color;
	font-weight: 500;
}

a:hover {
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid #000;
}

img {
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	drop-shadow: 0 0 0 20px rgba(0,0,0,0.6);
}

li a:hover {
	color: #eb55a7;
	text-decoration: none;
	border-bottom: 3px solid #eb55a7;
}