// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// This template has no custom styling
// Insert any custom SCSS here!
html, body {
    background: #000;
    color: #fff;
}

.spacer {
    margin-top: 45vh;
}

// .show-on-scroll {
//     opacity: 0;
//     transition: opacity .5s .25s ease-out;
// }

// .is-visible {
//     opacity: 1;
// }

h3 {
    // border-top: 1px solid #fff;
    // padding-top: 32px;
}

.scrolldown {
    position: fixed;
    bottom: 32px;
    left: 32px;
    color: #666;
}
.scrollup {
    position: fixed;
    top: 32px;
    left: 32px;
    color: #666;
}

@media print {
    .container  {
        margin: 2em;
    }

    .w-75 {
        width: 100% !important;
    }

    .spacer {
        margin-top: 3rem;
    }

    .scrolldown {
        display: none;
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .scrollup {
        display: none;
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}